:root {
  --black: #010001;
  --white: #ffffff;
  --mainFont: "Open Sauce One";
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: var(--white);
  font-family: var(--mainFont);
  box-sizing: border-box;
  background-color: "#ffffff";
}

.componentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.headerContainer.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}

.HeaderinBannerContainer {
  width: 100%;
}

.header90posto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  z-index: 5000;
}

.logo {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.nav {
  color: white;
}

.nav:hover {
  cursor: pointer;
}

.nav span {
  margin-bottom: 0.3rem;
  background-color: black;
  height: 2px;
  width: 100%;
  display: block;
}

/* -------------- BANNER ---------------------*/

.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 50vh;
  flex-direction: column;
  background-color: #1c1d20;
}

.bannerText {
  color: black;
  font-size: 38px;
  width: 90%;
  margin-top: 50px;
}

.bannerMessage {
  padding: 20px;
  color: white;
}

.bannerMoreAboutUs {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  color: white;
}

.bannerMoreAboutUs p {
  margin-right: 26px;
  font-size: 24px;
}

.bannerMoreAboutUs svg {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 10px;
}

/*---------------- PROJECTS -----------------------------*/

.projectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  z-index: 20;
  height: 50vh;
}

.case {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  transition: transform 0.5s;
}

.overlay {
  background-color: rgb(9, 0, 0);
  opacity: 0.53;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.case:hover {
  cursor: pointer;
}

.case:hover .overlay {
  position: absolute;
}

.scale-img {
  transition: transform 0.5s ease-in-out;
}

.case:hover .scale-img {
  transform: scale(1.2);
}

.case-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.case-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.caseDetails {
  position: absolute;
  top: 50%;
  color: white;
  z-index: 200;
  left: 10%;
}

/*---------------- OVERLAY INTRO -----------------------------*/

.top {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 100;
  top: 0;
  left: 0;
}

.bottom {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 100;
  bottom: 0;
  left: 0;
}

.intro-overlay {
  width: 100vw;
}

.overlay-top:first-child {
  position: absolute;
  height: 100%;
  width: 33.3333%;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  left: 0;
}

.overlay-top:nth-child(2) {
  position: absolute;
  height: 100%;
  width: 33.3333%;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  top: 0;
  left: 33.3333%;
}

.overlay-top:nth-child(3) {
  position: absolute;
  height: 100%;
  width: 33.3333%;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  top: 0;
  left: 66.6666%;
}

.overlay-bottom {
  position: absolute;
  height: 100%;
  width: 33.333%;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  top: 0;
  right: 66.6666%;
}

.overlay-bottom:nth-child(2) {
  right: 33.333%;
}

.overlay-bottom:nth-child(3) {
  right: 0;
}

.hiddenAnimation {
  height: 0;
  position: absolute;
  top: 0;
  left: 33.3333%;
}

.hiddenAnimationButtom {
  height: 0;
  position: absolute;
  bottom: 0;
  left: 33.3333%;
}

/*------------------NAVIGATION-----------------*/

.navigation {
  height: 50vh;
  width: 100%;
  top: -2px;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #455ce9;
  z-index: 2000;
  border: 1px solid #455ce9;
}

.content.push-down {
  position: relative;
  top: 50vh;
}

.navigationMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 50px;
}

.menuUl {
  list-style: none;
  text-decoration: none;
  padding: 20px;
}

.smallLiMenu {
  font-size: 20px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 40px;
}

.liMenu {
  font-size: 42px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;
}

.underline-text {
  position: relative;
}

.underline-text:hover {
  cursor: pointer;
}

.underline-text:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s;
}

.underline-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s;
}

.menuUl p {
  float: left;
  clear: both;
}

.arrowUpHover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}

.arrowDownHover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
  color: white;
}

.arrowRightHover {
  transition: transform 0.5s ease-in-out;
}

.arrowRightHover:hover {
  color: white;
  transform: rotate(90deg);
  cursor: pointer;
}

/* -------------- CONTACT PAGE ---------------------*/
.contactMeCont {
  height: 100vh;
  width: 100vw;
  bottom: 0px;
  position: fixed;
  overflow: hidden;
  background-color: #1c1d20;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.contactFormKurcina {
  display: grid;
  gap: 100px;
  width: 70%;
  grid-template-columns: 7fr 1.5fr;
  margin-top: 150px;
}

.contactFormLeftHeading {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

.fieldWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.contactField {
  display: flex;
  border-bottom: 1px solid #494a4d;
}

.firstChild {
  border-top: 1px solid #494a4d;
}

.contactFieldTop {
  display: flex;
  margin-right: 40px;
}

.contactFieldButtom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fieldNumber {
  color: #494a4d;
  font-weight: 600;
  font-size: 16px;
}

.fieldQuestion {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.fieldQuestionWhite {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  color: #494a4d;
}

.contactInput {
  width: 90%;
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 20px;
}

.contactField:last-child {
  position: relative;
}

.contactInput::placeholder {
  color: #494a4d;
}

.contactInput:focus {
  outline: none;
}

.sendMessageContact {
  background-color: #455ce9;
  color: white;
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
  position: absolute;
  right: 0;
  bottom: -40px;
}

.sendMessageContact:hover {
  background-color: #334bd3;
  cursor: pointer;
}

.smallContactHeading {
  color: #88888a;
  font-size: 14px;
  font-weight: bold;
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.contactDetailsP {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
}

.social {
  margin-top: 100px;
}

.socialP {
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialP:hover {
  cursor: pointer;
}

/* -------------- ABOUT PAGE ---------------------*/

.aboutContainer {
  height: 100vh;
  width: 100vw;
  bottom: 0px;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1c1d20;
  z-index: 1000;
  color: white;
}

.transisitonPageContainer {
  height: 100vh;
  width: 100vw;
  bottom: 0px;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #455ce9;
  z-index: 1000;
  color: white;
  z-index: 100000;
}

.transitioning * {
  transition: all 1.5s ease-in-out;
}

.transitionPageHeading {
  font-size: 56px;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
}

/* -------------- PROJECTS PAGE  ---------------------*/

.projectsPageContainer {
  height: 100vh;
  width: 100vw;
  bottom: 0px;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1c1d20;
  z-index: 1000;
  color: white;
}

.singleProject {
  width: 700px;
}

.projectName {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.greyLine {
  width: 100%;
  height: 1px;
  color: #88888a;
  background-color: #d7d7d8;
  margin-bottom: 30px;
}

.projectImageBox {
  width: 100%;
  background-color: #d8d3cd;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.projectImageBox img {
  transition: transform 0.3s ease-in-out;
  width: 80%;
}

.projectImageBox:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

.projectImageBox:hover {
  cursor: pointer;
}

.projectInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
